/* Define primary and secondary colors */
:root {
  --primary-color: #d1a866;
  --secondary-color: #365380;
}
/* Apply primary color to the slider thumb */
.MuiSlider-thumb {
  color: var(--primary-color);
}

/* Apply secondary color to the slider rail */
.MuiSlider-rail {
  color: var(--secondary-color);
}

/* Apply secondary color to the slider track */
.MuiSlider-track {
  color: var(--secondary-color);
}

/* Apply primary color to the selected button */
.selected-button {
  color: var(--primary-color) !important;
  color: #fff !important;
}
.two-column-form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1 1 calc(50% - 10px);
}
.MuiBox-root {
}
